<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- Service Bean configuration -->
    <bean id="employeeService" class="com.aprotrain.sl.dal.dao.EmployeeService"></bean>

    <!-- Struts Action Bean configuration -->
    <bean id="loginAction" class="com.aprotrain.sl.web.employee.LoginAction">
        <property name="employeeService" ref="employeeService" />
    </bean>
</beans>